.stage {
	position: relative;
	text-align: center;
	min-height: 100%;
}

#control_panel {
	z-index: 1;
}

button {
	border: 1px solid black;
	background-color: #BAF3F4;
	font: 24px Comic Sans MS Bold;
	border-radius: 4px;
}

button:hover {
	background-color: #87EAEB;
}

h1 {
	font-size: 60px;
	font-weight: bold;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	min-height: 60%;
	display: inline-block;
	border: 1px dashed black;
	border-radius: 5px;
}

.present {
	position: relative;
	visibility: visible;
	width: 50%;
	border: 1px solid black;
}

.content {
	font-size: 24px;
}1