.stage {
	position: relative;
	text-align: center;
	min-height: 100%;
}

h1 {
	font-size: 60px;
	font-weight: bold;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	min-height: 60%;
	display: inline-block;
	border: 1px dashed black;
}

.present {
	position: relative;
	visibility: visible;
	width: 50%;
	border: 1px solid black;
}

.content {
	font-size: 24px;
}1